* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #E1E6F6;
  margin: 0;
  font-family: Roboto, sans-serif;
}
.icon1{width: 4rem;}
/* Header Code */
header {
  color: #E83BF6;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-icon {
  display: flex;
  align-items: center;
}

.header-icon a {
  display: flex;
  align-items: center;
  padding: 8px;
}

.header-icon img {
  width: 80px;
  height: auto; /* Maintain aspect ratio */
}

nav a {
  display: flex;
  align-items: center;
  color: #E83BF6;
  text-decoration: none;
  margin: 0 20px;
  transition: color 0.3s;
}

.header-icon a:hover,
nav a:hover {
  color: #4DA6BA;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 20vw;
  margin-right: 10px;
}

nav {
  display: flex;
  align-items: center;
}

nav a img {
  margin-right: 5px;
}

nav a {
  color: #E83BF6;
  text-decoration: none;
  margin: 0 20px;
  transition: color 0.3s;
  display: flex;
  align-items: center;
}

nav a:hover {
  color: #4DA6BA;
}

.header-icon {
  display: none;
}

.menu-icon {
  display: flex;
  height: 8vh;
  padding: 8px;
  cursor: pointer;
}

.hero-header {
  font-size: 5vw;
  color: #4DA6BA;
  -webkit-text-stroke: 1px black;
  margin-left: 10px;
  
}
.hero-sub {
  margin-top: 0.5rem;
  margin-bottom:0.5rem;
  font-weight:bolder;
  font-size: 3vw;
  color: #E83BF6;
  margin-left: 10px;
  
}

p {

  font-size: 1rem;
  color: #6C6B8A;
  margin-left: 20px;
  margin-right: 20px;
}
.supp-icon {

  height:1.5rem;
}
.hero {
  border: 1px solid black;
}
/* Hero Section Code */
.hero-section {
  position: relative;
  height: auto; 
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
 
  
}

.hero-navigation {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  border:1px solid #E1E6F6;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left:  1.4vw;
  margin-right:  1.4vw;
  margin-bottom: 40px;
  color: #E83BF6;
 
}

.hero-navigation a {
  color: #E83BF6;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  -webkit-text-stroke:1px,  #E83BF6;


}

.hero-navigation .menu-icon {
  margin-right: auto;
  cursor: pointer;
  order: -1; /* Move the hamburger icon to the left */
}



.hero-navigation .menu-items {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1; /* Allow the middle items to take up remaining space */
}

.hero-navigation .support {
  display: flex;
  align-items: center;
  margin-left: auto; /* Move to the right */
  margin-right: 1.4vw;
}

.hero-navigation .supp-icon {
  display: inline-block;
  height: 1.5rem;
  margin-left: 5px; 
}

.hero-navigation .menu-items a {
  margin: 0 10px;
}

.hero-navigation .menu-items a:hover {
 color: #4DA6BA;
}
.hero-navigation .support a:hover{

color: #4DA6BA;
}

.hero-section {
  position: relative;
  height: auto; 
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  position: relative; 
}
.dropdown {
  display: inline-block;
}

.dropbtn {
  display: flex;
  align-items: center;
  color: #E83BF6;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  -webkit-text-stroke: 1px,  #E83BF6;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-top: 1px solid #E83BF6; 
}

.dropdown-content a {
  color: #E83BF6;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}
 .dropdown-content a:hover {
  background-color: #E1E6F6;
  color: #4DA6BA;
} 

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #4DA6BA;

}

.intro {
font-size: 1.5rem;
color: #4DA6BA;
font-weight: bolder;
text-align: center;
position: relative;
margin-bottom: 10px;
margin-top: 100px;
}
.background {
position: absolute;
top: 70%;
left: 0;
width: 100%;
z-index: -1; 
}
.container {
position: relative;
z-index: 1;
width: 100%;
padding: 20px;
background-color: #fff;
border: 1px solid #ddd;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
margin-bottom: 100px;
margin-top: 100px;}
.main-img {
  width: 100%;
}


.main-footer {
  background-color: #6c6b8a;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%; /* Full width */
  position: fixed;
  bottom: 0;
}

.silhouette-image {
  width: 40vh;
  height: auto;
  position: absolute;
  top: -22%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the silhouette image */
  z-index: 1;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 2;
}

.footer-logo {
  width: 20vh;
}

.footer-nav {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icon img {
  width: 30px;
  height: 30px;
}

.copyright {
  margin-top: 20px;
  font-size: 0.8rem;
  color: #fff;
}
/* Responsive Styles */
 
@media only screen and (max-width: 768px) {

  .menu-icon1 {
    display: flex;
    height: 50px;
   }

   nav { 
    display: none;


   }
  .hero-navigation {
    display: none; /* Hide for mobile */
  }

  .hero-content {
    bottom: 20px; 
  }


  .container {
    width: 100%;
}


      .footer-content {
        flex-direction: column;
        text-align: center;
        align-items: center; 
      }
    
      .footer-logo {
        margin-bottom: 20px;
      }
    
      .footer-nav {
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-top: 20px; 
      }
    
      .social-icons {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px; 
      }
    
      .copyright {
        margin-top: 20px;
      }
    }